<!--The content below is only a placeholder and can be replaced.-->
<header style="font-family: xenosphere; padding-bottom: 55px;" class="text-shadow">
    <nav>
        <p style="float: left; font-size: 40px; padding-left:20px;" >
                {{ title }}
        </p>
        <div *ngFor="let link of links" [ngClass]="(link === selectedLink)?'selected-link':'link'">
            <app-link
                [title]="link.title"
                [route]="link.route"
            ></app-link> 
        </div>
    </nav>
</header>
<hr>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</main>
