.navBar{
    float: left;
    font-size: 40px;
    padding-left: 20px;
}

header{
    width: 100%;
}

.xeno{
    font-family: xenosphere;
    padding-bottom: 55px;
}

.link{
    float: right;
    font-size: 20px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
.selected-link{
    float: right;
    font-size: 20px;
    margin-top: 15px;
    color: #FFA9A9 !important;
    padding-left: 15px;
    padding-right: 15px;
}

p{
    display: inline-block;
    margin-top: 0px;
    margin-bottom:  15px;    
}