.navBar{
display: inline-block;
}
header{
    width: 100%;
}

.link{
    float: right;
    font-size: 20px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
.selected-link{
    float: right;
    font-size: 20px;
    margin-top: 15px;
    color: #FFA9A9 !important;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    padding-left: 15px;
    padding-right: 15px;
}


a:link{
    color: white;
  }
  
  a:visited{
      color: white;
  }
  
  a:hover{
    color: #D64343 !important;
  }
  
  a:active{
      color: #FFA9A9 !important;
  }
  
p{
    display: inline-block;
    margin-top: 0px;
    margin-bottom:  15px;    
}