

.navBar{
display: inline-block;
}

a{
    padding-left: 15px;
    padding-right: 15px;
}

a:link{
    color: white;
  }
  
a:visited{
    color: white;
}

p{
    display: inline-block;
    margin-top: 0px;
    margin-bottom:  15px;    
}