a:link{
    color: white;
  }
  
  a:visited{
      color: white;
  }
  
  a:hover{
    color: #D64343 !important;
  }
  
  a:active{
      color: #D64343;
  }

.text-shadow{
    text-shadow: 4px 4px 2px black;
  }